.Form{
	align-content: center;
	border:10px;
	border-radius:5px;
	background-color:#52cc00;
	width:auto;
	border-color:black;
	margin:auto;
	padding:3px;
	padding-left:5px;
}
body{
	background-image:url("les.jpg");
}
.error{
	background-color:red;
}
.good{
	border:2px solid yellow;
	background-color: yellow;
}
#events{
	text-align:center;
}
